*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /* 1 rem= 10px*/
}

body{
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    height: 120rem;
}

.nav{
    background: #ededed;
    display: flex;  /* alles komt naast elkaar*/
    justify-content: space-between; /* alles gaat naar een verschillende plek*/
    height: 10rem;
    align-items: center; /* alles in de nav komt in het midden te staan*/
    color: #000000;
    font-size: 130%;
    padding: 4rem; /* alles heeft dan 40px afstand*/
    text-transform: uppercase;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}


.bg {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, rgb(42, 39, 100) 0%, rgb(103, 126, 203) 25%, rgb(24, 48, 118) 51%, #34165c 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
            animation: AnimateBG 20s ease infinite;
  }
  
  @-webkit-keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.nav > a > img{
   height: 8rem;
}

.my-image{
    height: 3rem;
    width: 20rem;
}

.list{
    display: flex;
    list-style: none; /* styling weg*/
    gap: 4rem;
}

.listitem{
    padding-left: 50rem;
}

.alletekst{
    margin-bottom: 2rem;
    width: 50rem;
}


.cta{
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    font-size: 80%;
}


.cta:hover{
    cursor: pointer; 
    background: hsl(350, 70%, 49%);
    transition: 0.2s;
}

.banner{
    width: 100vw;
    position: relative;
}

.banner > img{
    height: 55rem;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.banner > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;

}

.heading{
    color: #eee;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.heading2{
    font-size: small;
    flex-direction: column;
    color: #eee;
    text-align: center;
}

.grotebutton{
    width: 100%;
    height: 18rem;
    padding: 1rem;
    font-size: 80%;
    background: #20508b;
    border: none;
    color: #eee;
    border-radius: 4rem;
    text-transform: uppercase;
    margin-top: 2rem;
    cursor: pointer;
}

/*========================================SDG'S========================================*/
.onzesdgs{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        background-size: 300% 300%;
        background-image: linear-gradient(-45deg, rgb(103, 95, 255) 0%, rgb(103, 126, 203) 25%, rgb(182, 200, 255) 51%, #1473f9 100%);
        -webkit-animation: AnimateBG 20s ease infinite;
                animation: AnimateBG 20s ease infinite;
      }
      
      @-webkit-keyframes AnimateBG {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
      
      @keyframes AnimateBG {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }

      .sdgtekst {
        color: white;
        font-size: 2rem;
        text-align: center;
      }

      #results {
        max-width: 100rem;
        margin: 0 auto;
        background: #ededed;
        padding: 2rem;
        border-radius: 5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        height: 35rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    }
    
    .single {
        border: 0.3rem solid #000000;
        color: #000000;
        padding: 1rem;
        height: 30rem;
        width: 30rem;
        float: left;
        border-radius: 1rem;
        background-color: #ffffff;
    }

    .singles:hover{
      transform: scale(1.05%);
    }
    
    .single img {
        border-radius: 1rem;
        width: 100%;
        height: 100%;
    }

/*========================================Footer========================================*/

      .container{
        max-width: 1170px;
        margin:auto;
      }

      .row{
        display: flex;
        flex-wrap: wrap;
      }

      ul{
        list-style: none;
      }

      .footer{
        background-color: rgba(218, 218, 218, 0.5);
          padding: 4rem 0;
      }

      .footer-col{
         width: 25%;
         padding: 0 1.5rem;
      }

      .footer-col h4{
        font-size: 1.8rem;
        color: black;
        text-transform: capitalize;
        margin-bottom: 3.5rem;
        font-weight: 500;
      }

      .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
      }

      .footer-col ul li a{
        font-size: 1.6rem;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #5c5c5c;
        display: block;
        transition: all 0.3s ease;
      }

      .footer-col ul li a:hover{
        color: #000000;
        padding-left: 0.8rem;
      }
      
      .footer-col p{
          font-size: 1.3rem;
          text-align: left;
          margin-right: 2rem;
      }
      .footer-col .social-links a{
        display: inline-block;
        height: 4rem;
        width: 4rem;
        background-color: rgba(255,255,255,0.2);
        margin:0 1rem 1rem 0;
        text-align: center;
        line-height: 4rem;
        border-radius: 50%;
        color: black;
        transition: all 0.5s ease;
          border: 1px solid black;
      }
      .footer-col .social-links a:hover{
        color: #24262b;
        background-color: rgb(219, 217, 217);
      }